body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Altura da viewport */
}

.container {
  width: 80%; /* Largura do container */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center; /* Centraliza o texto */
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.book {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: inline-block;
  width: 45%; /* Largura do livro */
  vertical-align: top; /* Alinha os livros no topo */
}

.book img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.book h2 {
  color: #444;
  margin-top: 10px;
}

.price {
  color: #00c;
  font-size: 1.2em;
  margin-top: 5px;
}
